/*
#28344F (Azul oscuro)
#8A95A5 (Gris azulado medio)
#B3BDCC (Gris azulado claro)
#D9CBBF (Beige claro)
#F5F4F9 (Blanco hueso)
*/

@font-face {
    font-family: 'adelia';
    /* Nombre que le darás a la fuente */
    src: url('adelia_3/adelia.ttf') format('truetype');
    /* Ruta al archivo .ttf */
    font-weight: normal;
    /* Peso de la fuente (normal, bold, etc.) */
    font-style: normal;
    /* Estilo de la fuente (normal, italic, etc.) */
}

@font-face {
    font-family: 'Cormorant Garamond';
    /* Nombre que le darás a la fuente */
    src: url('Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
    /* Ruta al archivo .ttf */
    font-weight: normal;
    /* Peso de la fuente (normal, bold, etc.) */
    font-style: normal;
    /* Estilo de la fuente (normal, italic, etc.) */
}

@font-face {
    font-family: 'TT Drugs Trial Regular';
    /* Nombre que le darás a la fuente */
    src: url('tt_drugs/TT_Drugs_Trial_Regular.otf') format('truetype');
    /* Ruta al archivo .ttf */
    font-weight: normal;
    /* Peso de la fuente (normal, bold, etc.) */
    font-style: normal;
    /* Estilo de la fuente (normal, italic, etc.) */
}

.contenedor {
    width: 100%;
    display: flex;
    /* Utilizamos flexbox para centrar verticalmente */
    flex-direction: column;
    /* Colocamos los elementos en columna */
    z-index: -1;
    text-align: center;
    overflow: hidden;
}

.monograma {
    height: auto;
    width: 30%;
    left: 35%;
    /* Centrar horizontalmente */
}

.txtNovios {
    font-family: "adelia";
    font-size: 100px;
    color: #8A95A5;
}

.txtBoda {
    font-size: 50px;
    color: #8A95A5;
    margin-bottom: 100px;
}

.txtDateBoda {
    margin-bottom: 60px;
    font-size: 70px;
    font-family: "Cormorant Garamond";
    letter-spacing: 0.05em;
    color: #8A95A5;
}

.florestop {
    width: 100%;
    /* Ancho del viewport (pantalla) */
    height: 100%;
    /* Alto del viewport (pantalla) */
    background-image: url("../files/florestop.png");
    background-size: cover;
    /* Cubre todo el div */
    background-position: inherit;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
}

.floresmiddle {
    width: 100%;
    /* Ancho del viewport (pantalla) */
    height: 100%;
    /* Alto del viewport (pantalla) */
    background-image: url("../files/floresmiddle.png");
    background-size: cover;
    /* Cubre todo el div */
    background-position: bottom left;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
}

.floresright {
    width: 100%;
    /* Ancho del viewport (pantalla) */
    height: 100%;
    /* Alto del viewport (pantalla) */
    background-image: url("../files/floresright.png");
    background-size: cover;
    /* Cubre todo el div */
    background-position: inherit;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
    display: flex;
    /* Habilitar Flexbox */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

.floresleft {
    width: 100%;
    /* Ancho del viewport (pantalla) */
    height: 100%;
    /* Alto del viewport (pantalla) */
    background-image: url("../files/floresleft.png");
    background-size: cover;
    /* Cubre todo el div */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
    display: flex;
    /* Habilitar Flexbox */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
}

.floresMR {
    width: 100%;
    /* Ancho del viewport (pantalla) */
    height: 100%;
    /* Alto del viewport (pantalla) */
    background-image: url("../files/floresMesaRegalo.png");
    background-size: cover;
    /* Cubre todo el div */
    background-position: inherit;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
    display: flex;
    /* Habilitar Flexbox */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

.cuenta-regresiva {
    margin-bottom: 250px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-family: "TT Drugs Trial Regular";
    color: #8A95A5;
    ;
}

.tiempo {
    padding: 30px;
    margin-bottom: 20px;
}

.date {
    font-size: 25px;
}

#dias,
#horas,
#minutos,
#segundos {
    font-size: 40px;
}

.separador {
    margin-bottom: 100px;
}

.txtMensaje {
    color: #28344F;
    /* Color del texto */
    font-family: "TT Drugs Trial Regular";
    font-size: 40px;
    /* Tamaño de la fuente */
    text-align: center;
    /* Alineación del texto */
    padding: 120px;
    /* Espacio alrededor del texto */
    background-color: #F5F4F9;
    /* Fondo semi-transparente para el texto */
}

.invitacion {
    padding: 40px;
    /* Espacio interior */
    text-align: center;
    /* Texto centrado */
    width: 50%;
    /* Ancho de la tarjeta (ajusta según necesites) */

}

.titulo h1,
.padrinos {
    font-family: "adelia";
    font-size: 40px;
    color: #8A95A5;
    vertical-align: baseline;
    line-height: 1.9em;
    text-align: center;
    /* Tamaño del título */
    margin-bottom: 20px;
    /* Espacio inferior */
}

.datos-novios,
.padrinos p {
    display: flex;
    justify-content: space-around;
    font-family: "TT Drugs Trial Regular";
    font-size: 15px;
    line-height: 1.7em;
    color: #8A95A5;
}
.datos-novios{
    margin-bottom: 20px;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagen {
    flex: 0 0 33.33%;
    /* Cada imagen ocupa un tercio del ancho */
    max-width: 33.33%;
    padding: 5px;
    /* Espacio entre imágenes */
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.tarjeta {
    padding: 20px;
    text-align: center;
    /* Centra el texto dentro de la tarjeta */
    width: 30%;
    /* Ancho fijo para las tarjetas */
}

.ceremonia {
    font-family: "adelia";
    font-size: 40px;
    color: #8A95A5;
}

.horario {
    font-family: "TT Drugs Trial Regular";
    font-size: 24px;
}

.lugar {
    font-size: 22px;
    font-family: "TT Drugs Trial Regular";
    line-height: 1.7em;
}

.icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    /* Centra el icono y añade espacio debajo */
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen al contenedor */
}

.tarjeta p {
    margin: 30px 0;
    /* Espacio entre párrafos */
}

.tarjeta button {
    background-color: #B3BDCC;
    /* Color de fondo azul */
    color: gray;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #28344F;
  }

.imgvestimenta {
    width: 20%;
    height: 20%;
    margin-bottom: 30px;
}

.codigovestimenta {
    font-family: "adelia";
    font-size: 40px;
    color: #8A95A5;
}

.lugar {
    font-size: 22px;
    color: #8A95A5;
}

.detailvestimenta {
    font-size: 17px;
    color: #8A95A5;
}
.padrinoTitulo{
    font-family: "TT Drugs Trial Regular";
    margin-top: 30px;
}


/* Media queries para diseño responsivo */
@media (max-width: 768px) {

    .florestop,
    .floresmiddle,
    .floresleft,
    .floresright,
    .floresMR {
        background-size: contain;
    }

    .floresleft {
        /* Centrar verticalmente */
        flex-wrap: wrap;
        /* Permite que las tarjetas se ajusten a varias líneas */
        justify-content: space-around;
        /* Distribuye las tarjetas uniformemente */
    }

    .cuenta-regresiva {
        margin-bottom: 50px;
    }

    .monograma {
        margin-top: 30px;
        width: 50%;
    }

    .txtNovios {
        font-size: 45px;
    }

    .txtBoda {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .tiempo {
        font-size: 25px;
        padding: 5px;
    }

    .date {
        font-size: 20px;
    }

    #dias,
    #horas,
    #minutos,
    #segundos {
        font-size: 30px;
    }

    .txtMensaje {
        font-size: 17px;
        line-height: 40px;
        text-align: center;
        padding: 40px;
        /* Espacio alrededor del texto */
    }

    .imagen {
        flex: 0 0 100%;
        /* Cada imagen ocupa el 100% del ancho */
        max-width: 100%;
    }
    .datos-novios{
        display: contents;
    }
    .novio {
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
        margin-bottom: 20px; /* Espacio entre elementos */
    }

    .novia {
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    }

    .tarjeta {
        width: 100%;
        /* Ocupa todo el ancho en dispositivos móviles */
        margin-bottom: 20px;
        /* Espacio entre tarjetas */

    }

    .imgvestimenta {
        width: 50%;
        height: 50%;
        margin-bottom: 0px;
    }

    .codigovestimenta {
        margin-top: 10px;
        font-size: 24px;
    }

    .invitacion {
        padding: 40px;
        /* Espacio interior */
        text-align: center;
        /* Texto centrado */
        width: 90%;
        /* Ancho de la tarjeta (ajusta según necesites) */

    }

    .titulo h1,
    .padrinos {
        font-family: "adelia";
        font-size: 24px;
        color: #8A95A5;
        vertical-align: baseline;
        line-height: 50px;
        text-align: center;
        /* Tamaño del título */
        margin-top: 70px;
        /* Espacio inferior */
    }

    .padrinos h1{
        font-family: "adelia";
        font-size: 24px;
        color: #8A95A5;
        vertical-align: baseline;
        line-height: 50px;
        text-align: center;
        /* Tamaño del título */
        margin-bottom: 20px;
        margin-top: 70px;
        /* Espacio inferior */
    }

    .padrinoTitulo{
        font-family: "TT Drugs Trial Regular";
        font-size: 20px;
    }

}